select {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;

    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}


#get-quote-block{
display: flex;
justify-content: space-between;
align-items: center;
width: 75%;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
margin: auto;
padding: 20px 30px 20px 30px;
transform: translateY(-50%); /* Зміщує блок вгору на 50px */
z-index: 10; 
position: relative;
background-color: white;
}

#get-quote-block h3{
    font-size: 1.7rem;
}

.get-quote-button {
    background-color: rgba(23,37,54,255);
    color: white;
    padding: 15px;
}

#quote-input-container{
    display: flex;
    gap: 20px;
    width: 80%;
    justify-content: end;
}

input, select {
    padding: 15px;
    background-color: rgb(228,228,228);
    border:0px;
    outline:0px;
    width: 23%;
    color: gray;
    font-weight: bold;
}

#expanding-block{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px 15px 30px;
    background-color: rgb(228,228,228);
    align-items: center;
}

#arrow-icon{
    height: 50px;
    transition: transform 0.6s ease; /* Плавна анімація */
}

.flipped {
    transform: rotateX(180deg);
}


@media (max-width: 1024px) {
    #quote-input-container{
        margin-top: 10px;
        flex-direction: column;
        width: 80%;
        padding: 10px;
    }

    input, #dropdown {
        padding: 25px 15px 10px;
        box-sizing: border-box;
        width: 100%;

    }
}

